<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="31558vadimmelnyk.HistoricalQuadropong" Version="1.0.0.1" Publisher="CN=5185EE63-5B65-434D-98C5-0E8BBFA2CA1F" />
  <Properties>
    <DisplayName>Historical Quadropong</DisplayName>
    <Description>Quadropong: inspired by history</Description>
    <PublisherDisplayName>vadimmelnyk</PublisherDisplayName>
    <Logo>app-storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="index.html">
      <VisualElements DisplayName="Historical Quadropong" Logo="app-logo.png" SmallLogo="app-smalllogo.png" Description="Quadropong: inspired by history" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="logoOnly" />
        <SplashScreen Image="splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>